.basket-wrapper {
    width: 80vw;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.basket-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); /* Используем CSS Grid для сетки карточек */
    grid-gap: 10px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-photo {
    width: 100%;
}

.card-details {
    padding: 10px;
}

.card:last-of-type {
    margin-bottom: 0;
}

